# Python cache
__pycache__/
*.py[cod]

# Database files
*.sqlite3
db.sqlite3

# Media uploads
media/

# Payment gateway configs
paytm_gateway/

# Environment variables
.env

# Logs
*.log

# Django translations
*.pot

# Compiled files
*.pyo

# Virtual environments
venv/
env/
ENV/

# VS Code / IDE settings
.vscode/
.idea/
